---
interface Props {
  title: string;
}

const { title = 'Astro app' } = Astro.props as Props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style lang="scss">
      body {
        background-color: #333;
        color: #fff;
        font-family: Arial, sans-serif;
      }
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>
